.vscode/**
.vscode-test/**
**/*.map
.gitignore
.gitattributes
.gitflow
.github/**
*.vsix
Makefile
.markdownlint.json
test-scripts/**
tools/**
bin/**
test-workspace/**
language-server/test/**
!images/**/*.gif
!resources/**/*.gif