.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
!dist/**/*.js
node_modules/**
test-scripts/**
tools/**
language-server/src/**
*.vsix
bin/**
Makefile
.git/**
.github/**
